@use '@/styles' as *;

.hit {
  display: flex;
  flex-direction: column;
  gap: 52px;

  padding: 21px 20px 49px;
  border-radius: 8px;

  background: $accent-white;

  &__skeleton {
    gap: 26px;
  }
}
