@import '@/styles';

.cartInformer {
  user-select: none;

  position: fixed;
  z-index: 28;
  top: 40%;
  right: 0;
  transform: translateX(100%);

  background: rgb(0 0 0 / 90%);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 8px 0 0 8px;
  box-shadow: 0 0 0 1px rgb(255 255 255 / 10%);

  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition:
    transform 0.5s,
    -webkit-transform 0.5s;

  &.active {
    transform: translateX(0%);
  }

  .view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: $accent-white;

    .icon {
      @include icon-state($accent-white);

      position: relative;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      width: 60px;
      height: 60px;

      .counter {
        user-select: none;

        position: absolute;
        top: 10px;
        right: 10px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 20px;
        height: 20px;

        font-size: 12px;
        font-weight: 700;
        color: $accent-white;

        background: #ff4500;
        border-radius: 50%;
      }
    }

    .wrap {
      display: flex;
      flex-direction: column;
      min-width: 72px;
      padding: 0 15px 0 0;

      .title {
        font-size: 13px;
        font-weight: 400;
      }

      .total {
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
}
