@import url('@/styles');

@mixin next-previous($rotate) {
  @include flex-center;

  transform: rotate($rotate);
  padding: 0.625rem;
  border: 1px solid $button-default;
  border-radius: 50%;

  &:hover {
    @include icon-state($icon-hover);

    border-color: $button-hover;
  }

  &:active {
    @include icon-state($icon-active);

    border-color: $button-active;
  }
}

.pagination {
  display: flex;
  gap: 1rem;
  align-self: center;

  .item {
    @include flex-center;

    padding: 0.78125rem 1.055rem;

    font-family: $font-family;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.105;
    color: $grey-500;

    border: 1px solid transparent;
    border-radius: 50%;

    transition: all 0.3s;

    &:hover {
      background: $accent-white;
    }

    &.active {
      border-color: $button-default;

      &:hover {
        border-color: $button-hover;
      }

      &:active {
        border-color: $button-active;
      }
    }
  }

  a.next {
    @include next-previous(-90deg);
  }

  a.previous {
    @include next-previous(90deg);
  }

  a.disabled-link {
    @include icon-state($button-disabled);

    cursor: auto;
    opacity: 0.3;
    border-color: $button-disabled;

    &:hover {
      @include icon-state($button-disabled);

      border-color: $button-disabled;
    }
  }

  a.break {
    padding: 0.78125rem 0.917rem;
  }
}
