@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';

@mixin next-previous($rotate) {
  transform: rotate($rotate);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.625rem;

  border: 1px solid colors.$grey-300;
  border-radius: 50%;

  &:hover {
    border-color: colors.$grey-400;
  }

  &:active {
    border-color: colors.$grey-500;
  }
}

.pagination {
  display: flex;
  gap: 1rem;
  align-self: center;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.78125rem 1.055rem;

    font-family: fonts.$font-family;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.105;
    color: colors.$grey-500;

    border: 1px solid transparent;
    border-radius: 50%;

    transition: all 0.3s;

    &:hover {
      background: colors.$accent-white;
    }

    &.active {
      border-color: colors.$button-default;
    }
  }

  a.next {
    @include next-previous(-90deg);
  }

  a.previous {
    @include next-previous(90deg);
  }

  a.disabled-link {
    cursor: auto;
    opacity: 0.3;
    border-color: colors.$button-disabled;

    & > div svg {
      path[stroke] {
        stroke: colors.$button-disabled;
      }
    }

    &:hover {
      border-color: colors.$button-disabled;
    }
  }
}
