@import '@/styles';

.section {
  display: flex;
  flex-direction: column;
  gap: 18px;

  h3 {
    font-family: $font-family;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
    letter-spacing: 0.065em;
  }
}
