@use '@/styles/colors.scss';
@use '@/styles/mixin.scss';

.header {
  @include mixin.container1280;

  display: flex;
  flex-flow: column;
  gap: 14px;
  align-items: center;
  justify-content: space-between;

  color: #252525;

  background-color: #fff;

  &_top {
    display: flex;
    gap: 89px;
    align-items: center;

    box-sizing: border-box;
    width: 100%;

    .row-1 {
      display: flex;
      gap: 186px;
      align-items: center;
      width: 100%;
    }
  }

  ul {
    display: flex;
    gap: 2rem;
  }

  nav ul {
    display: flex;
    gap: 10rem;

    padding: 12px 24px;

    font-size: 20px;
    letter-spacing: 0.03em;
  }
}

.btns {
  display: flex;
  gap: 48px;
  align-items: center;

  .icons {
    display: flex;
    gap: 1.5em;
    align-items: center;
  }
}

.cart {
  &-btn {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
  }

  &-counter {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-70%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;

    font-size: 0.7em;
    color: colors.$accent-white;

    background-color: colors.$button-default;
    border-radius: 50%;
  }
}
