@import '@/styles';

.header {
  position: sticky;
  z-index: 20;
  top: -96px;

  background: $accent-white;
  border-radius: 0 0 20px 20px;

  .header-inner {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
