@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';

.input-group {
  position: relative;

  .input {
    width: 100%;
    padding: 0.865rem 1rem;

    font-family: fonts.$font-family;
    font-size: 1rem;
    line-height: 1.188rem;
    color: colors.$grey-300;
    letter-spacing: 0.01em;

    border: 1px solid colors.$grey-100;
    border-radius: 0.25rem;

    transition: all 0.3s;

    &:hover {
      border-color: colors.$grey-200;
    }

    &:focus {
      border: 2px solid colors.$grey-300;
    }

    &.input-valid {
      color: colors.$accent-success;
      border: 1px solid colors.$accent-success;

      & + .span {
        color: colors.$accent-success;
      }

      & ~ .button {
        filter: invert(73%) sepia(14%) saturate(641%) hue-rotate(63deg)
          brightness(88%) contrast(87%);
      }
    }

    &.input-error {
      color: colors.$accent-red;
      border-color: colors.$accent-red;

      & + .span {
        color: colors.$accent-red;
      }

      & ~ button.button {
        filter: invert(25%) sepia(75%) saturate(1682%) hue-rotate(337deg)
          brightness(110%) contrast(100%);
      }
    }

    & + .span {
      color: colors.$grey-300;
    }
  }

  .span {
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    padding: 0.865rem 1rem;

    font-size: 1rem;
    line-height: 1.188rem;
    color: colors.$grey-300;
    letter-spacing: 0.01em;

    background-color: transparent;

    transition: all 0.3s;
    animation: appear 0.3s;

    &.span-active {
      top: -5px;
      left: 30px;

      width: fit-content;
      padding: 1px 10px;

      font-size: 8px;
      line-height: 9.55px;

      background-color: colors.$accent-white;

      transition: all 0.3s;
      animation: appear2 0.3s;
    }

    &:hover + .input {
      border-color: colors.$grey-200;
    }
  }

  .button {
    position: absolute;
    z-index: 99;
    top: 0.75rem;
    right: 1rem;

    width: 24px;
    height: 24px;

    background: url('../../../assets/icons/HidePassword.svg');
    background-repeat: no-repeat;
    background-size: cover;

    &.password-show {
      background: url('../../../assets/icons/ShowPassword.svg');
      background-size: cover;
    }
  }

  .error {
    font-size: 0.75rem;
    color: colors.$accent-red;
    letter-spacing: 0.01em;
  }

  &:hover > input {
    border-color: colors.$grey-200;
  }
}

@keyframes appear {
  0% {
    width: fit-content;
    background-color: colors.$accent-white;
  }

  1% {
    background-color: transparent;
  }

  100% {
    width: 100%;
  }
}

@keyframes appear2 {
  0% {
    width: 100%;
  }

  1% {
    width: fit-content;
    background-color: colors.$accent-white;
  }

  100% {
    background-color: transparent;
  }
}
