@import '@/styles';

.content {
  display: flex;
  flex-flow: row wrap;

  width: 100%;
  max-width: 1019px;
  margin: 0 auto;

  &__category {
    gap: 19px;
    justify-content: center;

    & > div {
      display: grid;
      grid-template-columns: repeat(2, minmax(135px, 1fr));
      gap: 19px;
      justify-content: center;

      width: 100%;

      & > a:nth-child(4),
      div:nth-child(4) {
        display: none;

        @media (width >= 992px) {
          display: flex;
        }
      }

      & > a:nth-child(3),
      div:nth-child(3) {
        display: none;

        @media (width >= 576px) {
          display: flex;
        }
      }

      @media (width >= 576px) {
        grid-template-columns: repeat(3, minmax(135px, 1fr));
        gap: 35px;
      }

      @media (width >= 992px) {
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        gap: 30px;
      }

      @media (width >= 1024px) {
        gap: 45px;
      }
    }

    & > a:has(button):last-child {
      display: block;

      @media (width >= 768px) {
        display: none;
      }
    }

    @media (width >= 992px) {
      gap: clamp(0.938rem, -2.569rem + 6.726vw, 2.813rem);
    }
  }

  &__authors {
    gap: 19px;
    justify-content: center;

    & > div {
      display: grid;
      grid-template-columns: repeat(2, minmax(135px, 1fr));
      gap: 19px;
      justify-content: center;

      width: 100%;

      & > a:nth-child(4),
      div:nth-child(4) {
        display: none;

        @media (width >= 992px) {
          display: flex;
        }
      }

      & > a:nth-child(3),
      div:nth-child(3) {
        display: none;

        @media (width >= 576px) {
          display: flex;
        }
      }

      @media (width >= 576px) {
        grid-template-columns: repeat(3, minmax(135px, 1fr));
        gap: 35px;
      }

      @media (width >= 992px) {
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        gap: 17px;
      }

      @media (width >= 1024px) {
        gap: 29px;
      }
    }

    & > a:has(button):last-child {
      display: block;

      @media (width >= 768px) {
        display: none;
      }
    }

    @media (width >= 768px) {
      gap: 29px;
    }
  }

  &__product {
    position: relative;
    z-index: 10;

    gap: 24px;
    justify-content: center;

    max-width: 1040px;

    border-radius: 8px;

    & > a {
      display: block;

      @media (width >= 768px) {
        display: none;
      }
    }
  }

  & > a button {
    font-size: 15px;
  }
}
