@import '@/styles';

.copyright {
  @include flex-center;

  @include media-min(lg) {
    padding: 12px 0;

    span {
      font-size: 16px;
    }
  }

  gap: 2px;
  width: 100%;
  padding: 10px 0;
  letter-spacing: 0.032em;

  span {
    font-size: 12px;
  }
}
