@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';

.order {
  background-color: colors.$brown-100;

  .order-container {
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding: 40px 0 80px;

    .main {
      display: flex;
      flex-direction: column;
      gap: 32px;

      width: 100%;
      margin: 0 auto;

      h2 {
        width: 100%;

        font-family: fonts.$font-family;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.21;
        color: colors.$grey-300;
        letter-spacing: 0.05em;
      }

      form {
        display: grid;
        grid-template-columns: 1fr 393px;
        gap: 40px;

        .articles {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
      }
    }
  }
}
