@use '@/styles/colors.scss';

@import '@/styles';

.profile {
  display: flex;
  flex-direction: column;

  width: fit-content;
  min-width: 352px;
  height: 100%;

  color: colors.$raisin-black;

  background-color: #fff;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 0.75em;

  padding: 1em 1em 0.75em;

  border-bottom: 2px solid colors.$isabelline;

  &-info {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    h2 {
      font-weight: 500;
    }

    button {
      display: flex;
      align-items: center;
    }
  }
}

.user {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 10px;

  &-info p:first-of-type {
    font-weight: 500;
  }

  .icon {
    @include flex-center;
    @include icon-state(#fff);

    background-color: $brown-200;
    border-radius: 50%;
  }
}

.nav {
  padding: 1.5em 0;

  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .link {
      cursor: pointer;

      display: flex;
      gap: 16px;
      align-items: center;

      padding: 12px 28px;

      span {
        font-weight: 500;
      }

      &:hover {
        background-color: $brown-100;
      }

      &:active {
        background-color: $brown-200;
      }
    }
  }
}
