@import '@/styles';

.bottom {
  padding: 4px 0;

  .wrapper {
    display: flex;
    gap: 101px;
    align-items: center;
    width: 100%;
  }

  @media (width >= 576px) {
    margin: 0 auto;
  }

  @media (width >= 768px) {
    position: sticky;
    z-index: 20;
    top: 0;

    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    padding: 14px 15px 15px 0;
  }

  @media (width >= 992px) {
    padding: 24px 45px 24px 19px;
  }
}
