@import '@/styles';

.box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 570px;
  padding: 12px;

  background: rgb(255 255 255 / 1%);
  backdrop-filter: blur(80px);
  border: 1px solid #71798a;
  border-radius: 8px;

  input {
    padding: 0 24px 0 12px;

    font-family: $font7;
    font-size: 22px;
    font-weight: 400;
    line-height: 140%;
    color: $icon-active;

    background: transparent;
    border: none;
    outline: none;

    &::placeholder {
      font-family: $font7;
      font-size: 22px;
      font-weight: 400;
      line-height: 140%;
      color: $icon-default;
    }
  }

  .error {
    position: absolute;
    top: 75px;
    left: 24px;

    font-size: 14px;
    color: $accent-red;
  }

  &__error {
    border-color: $accent-red;

    input {
      color: $accent-red;

      &::placeholder {
        color: $accent-red;
      }
    }
  }

  &__search {
    padding: 0 2px;

    input {
      width: 90%;
      font-size: 18px;
      line-height: 157%;

      @media (width >= 768px) {
        font-size: 22px;
        line-height: 140%;
      }
    }

    @media (width >= 768px) {
      padding: 4.2px;
    }
  }
}
