@use '@/styles/colors.scss';

.range-slider {
  width: 100%;
  max-width: 228px;
  height: 5px;
  background: colors.$grey-100;

  .range-slider__thumb {
    width: 12px;
    height: 11px;
    background: colors.$brown-200;
    border-radius: 1px;
  }

  .range-slider__range {
    height: 5px;
    background: colors.$background-color;
  }
}
