@use '@/styles' as *;

.form-item {
  display: flex;
  flex-direction: column;
  gap: 32px;

  box-sizing: border-box;
  width: 100%;
  max-width: 767px;
  padding: 16px 16px 24px;
  border-radius: 0.5rem;

  background-color: $accent-white;

  .title {
    display: flex;
    gap: 24px;
    align-items: center;

    .circle {
      padding: 12.5px 18.7px;
      border-radius: 50%;

      font-size: 1rem;
      font-weight: 500;
      line-height: 1.19;
      color: $grey-300;
      letter-spacing: 0.01em;

      background: $button-hover-secondary;
    }

    h3 {
      font-family: $font-family;
      font-size: 1.5rem;
      font-weight: 500;
      color: $grey-300;
      letter-spacing: 0.04em;
    }
  }

  .input-container {
    display: flex;
    flex-flow: row wrap;
    gap: 24px 31px;

    & > div {
      width: 100%;
      max-width: 352px;
    }
  }

  .address {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
