@import '@/styles';

.subscription {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 36px;

    width: 100%;
    padding: 0 18px;

    h3 {
      font-family: $third-family;
      font-size: 32px;
      font-weight: 400;
      line-height: 140%;
      color: $icon-active;
      text-align: center;
      letter-spacing: 0.04em;

      @media (width >= 1024px) {
        font-size: 36px;
      }
    }

    p {
      align-self: center;

      width: 100%;
      max-width: 534px;

      font-family: $font7;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      color: $icon-active;
      text-align: center;
      letter-spacing: 0.03em;

      @media (width >= 1024px) {
        font-size: 15px;
      }
    }

    @media (width >= 1024px) {
      width: calc(100% / 2);
    }
  }

  .form {
    width: 100%;
    max-width: 454px;

    @media (width >= 1024px) {
      width: calc(100% / 2);
    }
  }

  &__author {
    padding: 30px 0 0;
  }

  @media (width >= 1024px) {
    flex-direction: row;
    gap: 60px;
  }
}
