@import '@/styles';

.title {
  cursor: pointer;

  width: 100%;
  width: 231px;
  padding: 14px 15px;

  background: #efefef;
  border: 0.5px solid rgb(0 0 0 / 30%);
  border-radius: 4px;

  h3 {
    position: relative;

    font-family: $font-family;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.213;
    color: $icon-active;
    letter-spacing: 0.05em;

    &::after {
      content: '';

      position: absolute;
      top: 47%;
      right: 0;
      transform: translateY(-50%);
      transform: scale(1.4);

      width: 0;
      height: 0;
      margin-left: 30px;

      border-color: #888 rgb(0 0 0 / 0%) rgb(0 0 0 / 0%) rgb(0 0 0 / 0%);
      border-style: solid;
      border-width: 5px 4px 0;

      transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      transition:
        transform 0.5s,
        -webkit-transform 0.5s;
    }
  }

  &__open {
    h3::after {
      transform: scale(-1.4);
    }
  }
}
