@import '@/styles';

.section {
  width: 100%;

  .section-inner {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 20px;

    background: $accent-white;
    border-radius: 8px;

    @media (width >= 768px) {
      gap: 28px;
      padding: 26px 24px;
    }

    @media (width >= 992px) {
      gap: 32px;
      padding: 36px 32px;
    }
  }
}
