@import url('@/styles');

.product-slider {
  position: relative;

  width: 100%;
  max-width: 1040px;
  margin: 0 auto;

  border-radius: 8px;

  .slider {
    overflow: clip visible;
    width: 100%;
    max-width: 1040px;
  }

  .slider-section {
    max-width: 1018px;
    margin: 0 auto;

    .slick-list {
      overflow: visible;
      width: 100%;
      height: auto;
      border-radius: 8px;

      .slick-track {
        display: flex;
        gap: 46px;
      }
    }
  }
}
