@import '@/styles';

.lists {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 282px;
  padding: 15px;

  background-color: $accent-white;
  border: 0.5px solid rgb(0 0 0 / 30%);
  border-radius: 8px;

  transition: all 0.3s;

  li {
    width: fit-content;
  }
}
