@import '@/styles';

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  min-width: 220px;
  max-width: 256px;
  height: 322px;
  padding: 8px 6px 5px;

  font-size: 0;

  background: $accent-white;
  border: 0.5px solid #dcd9d9;
  border-radius: 8px;
  box-shadow: 0 20px 16px 0 rgb(0 0 0 / 25%);

  & > img {
    width: 100%;
    height: 174px;

    @media (width >= 834px) {
      height: 271px;
    }
  }

  .transparent {
    position: relative;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 28px;

      .content {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .title-wrapper {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .title {
            font-family: $font-family;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.188;
            color: $grey-500;
            letter-spacing: 0.01em;

            @media (width >= 834px) {
              font-size: 16px;
            }
          }

          .author {
            font-family: $font-family;
            font-size: 11px;
            font-weight: 600;
            line-height: 150%;
            color: $grey-300;
            letter-spacing: 0.01em;

            @media (width >= 834px) {
              font-size: 12px;
            }
          }

          h3 {
            overflow: hidden;

            width: 100%;
            max-width: 238px;

            text-overflow: ellipsis;
            white-space: nowrap;

            transition: all 0.3s;
          }

          @media (width >= 768px) {
            gap: 12px;
          }
        }

        .price {
          align-self: self-end;
          height: fit-content;
          font-size: 0;

          .normal-price {
            display: inline-block;

            font-family: $font-family;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.2;
            color: $grey-500;
            letter-spacing: 0.01em;

            &::after {
              content: 'грн';
              margin-left: 3px;
            }

            @media (width >= 834px) {
              font-size: 20px;
            }
          }

          .discount-price {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .discount {
              display: flex;
              gap: 8px;

              .price {
                font-family: $font-family;
                font-size: 11px;
                font-weight: 400;
                line-height: 1.25;
                color: $grey-400;
                text-decoration: line-through;
                letter-spacing: 0.01em;

                &::after {
                  content: 'грн';
                  margin-left: 3px;
                }

                @media (width >= 834px) {
                  font-size: 12px;
                }
              }

              .discount {
                padding: 1px 4px;

                font-family: $font-family;
                font-size: 10px;
                font-weight: 400;
                line-height: 12px;
                color: $accent-white;
                letter-spacing: 0.01em;

                background: #c42700;
                border-radius: 4px;

                @media (width >= 834px) {
                  padding: 0 2px;
                  font-size: 12px;
                  line-height: 1.25;
                }
              }
            }

            .price {
              font-family: $font-family;
              font-size: 16px;
              font-weight: 600;
              line-height: 1.2;
              color: #c25200;
              letter-spacing: 0.01em;

              &::after {
                content: 'грн';
                margin-left: 3px;
              }

              @media (width >= 834px) {
                font-size: 20px;
              }
            }
          }
        }
      }

      @media (width >= 834px) {
        gap: 16px;
      }
    }
  }

  &__discount {
    gap: 10px;

    .transparent {
      .wrapper {
        gap: 16px;

        .content {
          gap: 2px;

          .title-wrapper {
            gap: 4px;

            @media (width >= 834px) {
              gap: 9px;
            }
          }
        }

        @media (width >= 834px) {
          gap: 8px;
        }
      }
    }

    @media (width >= 834px) {
      gap: 16px;
    }
  }

  &__overlay {
    &:hover {
      .transparent {
        .wrapper {
          position: absolute;
          z-index: 5;
          top: 0;
          left: -8px;

          gap: 16px;

          width: calc(100% + 16px);
          padding: 0 8px 11.2px;

          background: $accent-white;
          border-top: transparent;
          border-radius: 8px;

          &__shadow {
            box-shadow: 0 20px 16px 0 rgb(0 0 0 / 25%);
          }

          .content {
            gap: 8.5px;

            .title-wrapper {
              h3 {
                white-space: normal;
                transition: all 0.3s;
              }
            }
          }
        }
      }
    }
  }

  &.card__discount.card__overlay {
    &:hover {
      .transparent {
        .wrapper {
          position: absolute;
          z-index: 5;
          top: 0;
          left: -8px;

          gap: 8px;

          width: calc(100% + 16px);
          padding: 0 8px 11.2px;

          background: $accent-white;
          border-top: transparent;
          border-radius: 8px;

          .content {
            gap: 6px;
            width: 100%;

            .title-wrapper {
              h3 {
                white-space: normal;
                transition: all 0.3s;
              }
            }

            .discount-price {
              gap: 2.5px;
            }
          }
        }
      }
    }
  }

  .sticker {
    position: absolute;
    top: 8px;
    left: 6px;

    display: flex;
    gap: 4px;

    padding: 3px 8px;

    background: #c42700;
    border-radius: 2px;

    span {
      font-family: $font-family;
      font-size: 11px;
      font-weight: 400;
      line-height: 13px;
      color: $accent-white;
      letter-spacing: 0.01em;

      @media (width >= 834px) {
        font-size: 14px;
        line-height: 17px;
      }
    }

    @media (width >= 834px) {
      top: 11px;
      left: 8px;
    }
  }

  &__slider {
    // width: 220px;
    width: 149px;
    min-width: 149px;
    // height: 322px;
    // gap: 10px;
    // padding: 8px 6px;

    @media (width >= 834px) {
      gap: 20px;
      width: clamp(13.375rem, 2.95rem + 20vw, 15.75rem); //214
      min-width: 200px;
      height: 456px;
    }

    @media (width >= 1024px) {
      width: clamp(12.5rem, 7.5rem + 7.813vw, 13.75rem); //200 220
    }
  }

  @media (width >= 834px) {
    gap: 20px;
    height: 456px;
    padding: 11.2px 8px;
  }
}
