@import '@/styles';

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  h3 {
    font-family: $font4;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.6;
    color: $grey-400;
    letter-spacing: 0.06em;

    &.fire {
      position: relative;
      margin-left: 42px;

      &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: -44px;
        transform: translateY(-50%);

        width: 40px;
        height: 40px;

        background: url('../../../../assets/icons/fire.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
}
