$cultured: #f4f4f4;
$light-silver: #d8d8d8;
$isabelline: #f2eeed;
$light-grey: #d5d3d3;
$dark-grey: #a9a9a9;
$quartz: #4b4b4b;
$raisin-black: #252525;
$error: #e53b3b;
$black: #000;
$brown-100: #f2eeed;
$grey-500: #252525;
$icon-default: #6a6a6a;
$icon-hover: #505050;
$icon-active: #303030;
$grey-100: #d1d1d1;
$grey-200: #6a6a6a;
$grey-300: #555;
$grey-400: #404040;
$accent-white: #fff;
$accent-red: #e53b3b;
$accent-success: #8cad84;
$brown-200: #bfaca5;
$brown-300: #5b4036;
$brown-400: #362620;
$button-default: #006f7e;
$button-hover: #005965;
$button-active: #00434c;
$button-disabled: rgb(214 214 214);
$button-hover-secondary: #e6f1f2;
$button-active-secondary: #b0d2d7;
$background-color: #f2eeed;
$background-skeleton: #d2d2d2;

$background: linear-gradient(135deg, #23c4f8, #275efe);
$skeleton-gradient: linear-gradient(90deg, rgb(255 255 255 / 0%) 0%, #d2d2d2 50%, rgb(255 255 255 / 0%) 100%);

$shadow: rgb(39 94 254 / 28%);
$text: #6c7486;
$page: rgb(255 255 255 / 36%);
$page-fold: rgb(255 255 255 / 52%);
$duration: 3s;
