$cultured: #f4f4f4;
$light-silver: #d8d8d8;
$isabelline: #f2eeed;
$light-grey: #d5d3d3;
$dark-grey: #a9a9a9;
$quartz: #4b4b4b;
$raisin-black: #252525;
$error: #e53b3b;

$brown-100: #f2eeed;
$grey-500: #252525;
$icon-default: #6a6a6a;
$icon-hover: #505050;
$icon-active: #303030;
$grey-100: #d1d1d1;
$grey-200: #6a6a6a;
$grey-300: #555;
$grey-400: #404040;
$accent-white: #fff;
$accent-red: #e53b3b;
$accent-success: #8cad84;
$brown-200: #d5cac6;
$brown-300: #5b4036;
$brown-400: #362620;
$button-default: #006f7e;
$button-hover: #005965;
$button-active: #00434c;
$button-disabled: #d6d6d6;
