$font-family: 'Inter', sans-serif;
$second-family: 'SF Pro Display', sans-serif;
$third-family: 'Ermilov', sans-serif;
$font3: 'Montserrat', sans-serif;
$font4: 'Epilogue', sans-serif;
$font-family: 'Inter', sans-serif;
$second-family: 'SF Pro Display', sans-serif;
$third-family: 'Jomolhari', sans-serif;
$font3: 'Chonburi', sans-serif;
$font4: 'Montserrat', sans-serif;
$font5: 'Poppins', sans-serif;
$font6: 'Ermilov', sans-serif;
$font7: 'Plus Jakarta Sans', sans-serif;
$font8: 'Figma Hand', sans-serif;
$font9: 'Plantagenet Cherokee', sans-serif;
$font10: 'Pinyon Script', sans-serif;
$font11: 'Commissioner', sans-serif;
$font12: 'Epilogue', sans-serif;
$font13: 'Ms Madi', sans-serif;
$font14: 'Party LET', sans-serif;
