@use './normalize.scss';
@use './reset.scss';
@use './colors.scss';
@use './fonts.scss';
@use './mixin.scss';
/* stylelint-disable */
@import 'colors';
@import 'fonts';
@import 'mixin';
/* stylelint-enable */

:root {
  scrollbar-width: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  text-rendering: optimizelegibility;

  background-color: colors.$brown-100;

  font-synthesis: none;

  -ms-overflow-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

input {
  box-sizing: border-box;
  color: #242424;
}

* {
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex-1 {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 344px;

  line-height: 1 !important;
}

// Banner slider

.swiper-pagination {
  bottom: -29px !important;
  display: flex;
  justify-content: center;
  gap: 8px;
}

span.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: #d9d9d9;
  opacity: 1;
}
span.swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: #878787;
}
