@use './normalize.scss';
@use './reset.scss';
@use './colors.scss';
@use './fonts.scss';
@use './mixin.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  text-rendering: optimizelegibility;

  font-synthesis: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

input {
  box-sizing: border-box;
  color: #242424;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.flex-1 {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 344px;

  line-height: 1 !important;
}
