$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin media-min($breakpoint) {
  $width: map-get($breakpoints, $breakpoint);

  @if $width != null {
    @media (min-width: #{$width}) {
      @content;
    }
  }

 @else {
    @error "Невідомий брейкпоінт: #{$breakpoint}. Використовуйте один із: #{map-keys($breakpoints)}";
  }
}

@mixin media-max($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $width: map-get($breakpoints, $breakpoint);

    @media (max-width: #{$width - 0.02}px) {
      @content;
    }
  }

 @else {
    @error "Недопустимий брейкпоінт: #{$breakpoint}. Доступні значення: #{map-keys($breakpoints)}";
  }
}
