@use './fonts.scss';
@use './colors.scss';

@mixin hover-active_color($hover, $active) {
  &:hover {
    color: $hover;
  }

  &:active {
    color: $active;
  }
}

@mixin scrollBar($width, $borderRadius, $scrollBac, $trackBac, $thumbBac) {
  ::-webkit-scrollbar-track {
    background-color: $trackBac;
    border-radius: $borderRadius;
  }

  ::-webkit-scrollbar {
    width: $width;
    // background-color: $scrollBac;
    border-radius: $borderRadius;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: $thumbBac;
    border-radius: $borderRadius;
  }
}

@mixin font-styles(
  $font-family: fonts.$font-family,
  $font-size: 1rem,
  $font-weight: 400,
  $line-height: 1.21,
  $color: colors.$grey-500,
  $letter-spacing: 0.03em
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
  letter-spacing: $letter-spacing;
}

@mixin container1280 {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 40px 30px;
}

@mixin icon-state($default-color) {
  & > svg {
    stroke: $default-color;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin hover-active($hover-color, $active-color) {
  &:hover {
    color: $hover-color;
  }

  &:active {
    color: $active-color;
  }
}

@mixin priceAfter {
  &::after {
    content: 'грн';
    margin-left: 3px;
  }
}

@mixin price {
  @include priceAfter;

  padding: 0;

  font-size: 16px;
  font-weight: 600;
  color: $button-default;
  letter-spacing: 0.01em;
}

@mixin btn-position($top, $rot, $right: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  left: $left;
  transform: translateY(-$top) rotate($rot);

  align-self: flex-end;

  width: 44px;
  height: 44px;
  padding: 0.625rem;

  font-size: 0;

  border: 1px solid $button-default;
  border-radius: 50%;

  transition: border-color 0.3s;
}
