@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';

.catalog {
  background-color: colors.$brown-100;

  .catalog-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 67px 0 120px;

    .catalog-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .main {
        display: grid;
        grid-template-columns: 282px 1fr;
        gap: 5.25rem;
      }
    }
  }
}
