@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';

.catalog {
  background-color: colors.$brown-100;

  .catalog-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2.5rem 0;

    .main {
      display: grid;
      grid-template-columns: 282px 1fr;
      gap: 5.25rem;
    }
  }
}
