@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';

.catalog {
  .catalog-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 100%;
    padding-top: 68px;
    padding-bottom: 225px;
  }
}
