@import '@/styles';

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  height: 456px;
  padding: 11.2px 8px;

  background-color: $background-skeleton;
  border-radius: 8px;

  &__catalog {
    width: 100%;
    min-width: 220px;
    max-width: 256px;
  }

  &__slider {
    width: 220px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
      display: flex;
      flex-direction: column;

      div {
        &:nth-child(1) {
          margin-bottom: 12px;
        }

        &:nth-child(2) {
          margin-bottom: 8px;
        }

        &:nth-child(3) {
          align-self: flex-end;
        }
      }
    }
  }
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  height: clamp(8.5rem, 3.599rem + 19.955vw, 14rem);
  padding: 20px;

  background-color: $background-skeleton;
  border-radius: 8px;

  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (width <= 768px) {
      div {
        width: 100%;
        max-width: 100%;
      }
    }

    @media (width <= 992px) {
      div {
        max-height: 20px;
      }
    }
  }

  @media (width <= 576px) {
    & > div:nth-child(2) {
      display: none;
    }
  }

  @media (width >= 768px) {
    max-width: clamp(40.5rem, 1.582rem + 74.664vw, 61.313rem);
    height: clamp(14rem, -0.025rem + 26.906vw, 21.5rem);
    padding: 41px 50px;
  }

  @media (width >= 1280px) {
    gap: 34px;

    .text {
      gap: 17.5px;
    }
  }
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: end;

  aspect-ratio: 0.76;
  width: 100%;
  min-width: 135x;
  max-width: 233px;
  padding: 20px;

  background-color: $background-skeleton;
  border-radius: 8px;

  @media (width >= 576px) {
    aspect-ratio: 0.74;
    max-width: 264px;
  }

  @media (width >= 992px) {
    aspect-ratio: 0.705;
  }
}

.collection {
  display: flex;
  flex-direction: column;
  justify-content: end;

  aspect-ratio: 1/1;
  width: 100%;
  min-width: 135px;
  max-width: 264px;
  height: auto;
  padding: 10px;

  background-color: $background-skeleton;
  border-radius: 8px;

  & > div {
    width: 100%;
    max-width: 100%;
  }

  @media (width >= 1024px) {
    aspect-ratio: 1.1;
  }
}

.category {
  background-color: $background-skeleton;
  border-radius: 8px;

  &__catalog {
    width: 282px;
    height: 51px;
    padding: 16px;
  }

  &__home {
    width: 236px;
    height: 36px;
    padding: 8px;
  }
}

.slider-card {
  overflow-y: visible;
  display: flex;
  gap: 13px;
  align-items: flex-end;

  width: 370px;
  height: 172px;
  padding: 6px;

  background-color: $background-skeleton;
  border-radius: 8px;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    max-width: 216px;
    height: 125px;
    padding-top: 0;

    .title {
      div:nth-child(1) {
        margin-bottom: 15px;
      }

      div:nth-child(2) {
        margin-bottom: 10px;
      }
    }
  }
}

.collections {
  display: flex;
  gap: 24px;

  width: 588px;
  height: 174px;
  padding: 6px;

  background-color: $background-skeleton;
  border-radius: 8px;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
    max-width: 331px;
    padding: 50px 24px 50px 0;
  }
}
