@import '@/styles';

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  padding-right: 0;
  padding-left: 8px;

  li {
    display: flex;
    gap: 51px;
    width: 100%;

    span {
      font-family: $font-family;
      font-size: 16px;
      line-height: 19px;
      color: $grey-300;
    }

    .item {
      width: 150px;
      font-weight: 400;
      letter-spacing: 0.035em;
    }

    .data {
      font-weight: 600;
      text-align: left;
      letter-spacing: 0.037em;
    }
  }
}
