@import '@/styles';

.wrapper {
  @include flex-center;

  position: relative;
  width: 100%;

  @media (width >= 576px) {
    max-width: 411px;
  }

  @media (width >= 992px) {
    max-width: 566px;
  }
}
