@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';

@import '@/styles';

@mixin font-styles($font-weight, $font-size, $line-height, $color) {
  font-family: fonts.$font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
  letter-spacing: 0.01em;
}

@mixin item-style {
  width: fit-content;
  padding: 0.625rem 0.75rem;

  line-height: 1.31;

  background: colors.$accent-white;
  border-radius: 0.5rem;
}

@mixin button-styles($bg-color, $hover-color, $active-color, $font-color) {
  width: 100%;
  padding: 0.75rem 0;

  font-family: fonts.$font-family;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  color: $font-color;
  letter-spacing: 0.05em;

  background: $bg-color;
  border-radius: 0.25rem;

  transition: all 0.3s;

  &:hover {
    background: $hover-color;
  }

  &:active {
    background: $active-color;
  }
}

.product {
  padding: 2.5rem 0;
  background: colors.$brown-100;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .details-product {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    justify-content: center;

    .img-box {
      position: relative;

      overflow: hidden;

      width: 100%;
      max-width: 282px;
      height: fit-content;

      font-size: 0;

      transition: all 0.3s;

      img {
        width: 100%;
        transition: all 0.3s;
      }

      &:hover {
        box-shadow: 4px 6px 10px 0 rgb(65 65 65 / 29%);

        & > img {
          transform: scale(1.2) translateY(-5%);
        }
      }
    }
  }

  .book {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 588px;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    h2 {
      @include font-styles(700, 1.5rem, 1.21, colors.$grey-500);
    }

    .authors {
      display: flex;
      gap: 0.25rem;

      h2 {
        @include font-styles(500, 1.5rem, 1.21, colors.$icon-default);
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .row {
      display: flex;
      gap: 2rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        h3 {
          @include font-styles(500, 1rem, 1.21, colors.$grey-500);
        }

        .item {
          @include item-style;
        }

        .categories {
          display: flex;
          flex-flow: row wrap;
          gap: 0.75rem;

          .item {
            @include item-style;

            &:hover {
              background-color: colors.$button-hover-seccondary;
            }

            &:active {
              background-color: colors.$button-active-secondary;
            }
          }
        }
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    h3 {
      @include font-styles(500, 1rem, 1.187, colors.$grey-500);
    }

    p {
      @include font-styles(400, 0.875rem, 1.5, colors.$icon-default);

      max-width: 34.875rem;
      letter-spacing: 0.025em;
    }
  }

  .control {
    display: flex;
    flex-direction: column;
    gap: 24px;

    box-sizing: border-box;
    width: 100%;
    max-width: 282px;
    height: fit-content;
    padding: 2.1875rem 2rem;

    background: colors.$accent-white;
    border-radius: 0.75rem;

    .price {
      @include font-styles(500, 1.5rem, 1.2, colors.$button-default);

      display: flex;
      width: fit-content;
      letter-spacing: 0.1em;

      &::after {
        content: 'грн';
        margin-left: 5px;
      }
    }

    .discount {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;

      .discount-price {
        font-family: $font-family;
        font-size: 16px;
        font-weight: 400;
        color: $icon-default;
        text-align: center;
        text-decoration: line-through;
        letter-spacing: 0.01em;

        &::after {
          content: 'грн';
          margin-left: 5px;
        }
      }

      .normal-price {
        @include font-styles(500, 1.5rem, 1.2, colors.$button-default);

        display: flex;
        width: fit-content;
        letter-spacing: 0.1em;

        &::after {
          content: 'грн';
          margin-left: 5px;
        }
      }
    }

    .btns {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .arrow {
        stroke: $accent-white;
      }
    }
  }

  .likes {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;

    & > h3 {
      position: absolute;
      top: 0;
      left: 0;

      padding: 0.46875rem 0;

      font-family: fonts.$font-family;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.21;
      color: colors.$grey-500;
      letter-spacing: 0.05em;
    }
  }
}
