@use '@/styles' as *;

.search {
  display: flex;
  width: 100%;

  button.btn {
    @include flex-center;

    width: 48px;
    height: 26px;
    border-radius: 8px;
    background: $button-default;

    @media (width >= 768px) {
      width: 60px;
      height: 32px;
    }

    @media (width >= 992px) {
      height: 36px;
    }
  }
}
