@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';

.title {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 3px;

  h2 {
    font-family: fonts.$third-family;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.594;
    color: colors.$grey-300;
    letter-spacing: 0;
  }

  .sort {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;

    width: 100%;
    max-width: 200px;

    background-color: colors.$accent-white;
    border-radius: 0.75rem;
  }
}
