.checkbox-container {
  display: flex;
  gap: 1em;
  align-items: center;

  .input {
    width: 14px;
    height: 14px;
  }

  .label {
    cursor: pointer;

    display: flex;
    align-items: center;

    width: fit-content;

    font-size: 0.75rem;
    color: #000;
    letter-spacing: 0.01em;
  }
}
