@import '@/styles';

.checkbox-container {
  display: flex;
  gap: 0.75em;
  align-items: flex-start;

  .input {
    cursor: pointer;
    appearance: none;
    border-radius: 0.15em;
    outline: none;
  }

  .label {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  &__secondary {
    gap: 10px;
    align-items: center;

    .input {
      width: 16px;
      height: 16px;
      background-color: rgba($button-default, 0.55);
      border-radius: 2px;

      &:checked {
        position: relative;
        background-color: $button-default;

        &::before {
          content: '';

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          width: 16px;
          height: 16px;

          background-image: url('../../../assets/icons/checked.svg');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    .label {
      padding-left: 2px;

      font-family: $font-family;
      font-size: 16px;
      line-height: 1.25;
      color: $grey-300;
      letter-spacing: 0.05em;
    }
  }

  &__primary {
    .input {
      width: 1.042em;
      height: 1.042em;
      border: 0.1em solid $grey-500;

      &:checked {
        position: relative;
        background-color: $accent-white;

        &::before {
          content: '\2714';

          position: absolute;
          top: -2px;
          right: 1.5px;

          font-size: 0.8em;
          color: $grey-500;
        }
      }
    }

    .label {
      font-family: $font-family;
      font-size: 0.875rem;
      line-height: 1.43;
      color: $grey-500;
      letter-spacing: 0.05em;
    }
  }

  &__green {
    gap: 5px;
    align-items: center;

    label {
      cursor: pointer;

      display: flex;
      gap: 9px;
      align-items: center;

      font-family: $font-family;
      font-size: 16px;
      font-weight: 400;
      color: $grey-300;
      letter-spacing: 0.033em;
    }

    input {
      cursor: pointer;

      position: relative;

      width: 18px;
      height: 18px;

      appearance: none;
      border: 1px solid black;
      border-radius: 50% !important;

      transition: all 0.3s ease-in;

      &:checked,
      &:hover {
        &::before {
          content: '';

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          width: 10px;
          height: 10px;

          background-color: $button-default;
          border-radius: 50%;
        }
      }
    }
  }
}
