@import '@/styles';

.checkbox-container {
  display: flex;
  gap: 0.75em;
  align-items: flex-start;

  .input {
    cursor: pointer;
    appearance: none;
    border-radius: 0.15em;
    outline: none;
  }

  .label {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
  }

  &__secondary {
    gap: 10px;
    align-items: center;

    .input {
      width: 16px;
      height: 16px;
      border: 0.1em solid $grey-500;

      &:checked {
        position: relative;
        background-color: $accent-white;

        &::before {
          content: '\2714';

          position: absolute;
          top: -2px;
          right: 1.5px;

          font-size: 0.8em;
          color: $grey-500;
        }
      }
    }

    .label {
      padding-left: 2px;

      font-family: $font-family;
      font-size: 16px;
      line-height: 1.25;
      color: $grey-300;
      letter-spacing: 0.05em;
    }
  }

  &__primary {
    .input {
      width: 1.042em;
      height: 1.042em;
      border: 0.1em solid $grey-500;

      &:checked {
        position: relative;
        background-color: $accent-white;

        &::before {
          content: '\2714';

          position: absolute;
          top: -2px;
          right: 1.5px;

          font-size: 0.8em;
          color: $grey-500;
        }
      }
    }

    .label {
      font-family: $font-family;
      font-size: 0.875rem;
      line-height: 1.43;
      color: $grey-500;
      letter-spacing: 0.05em;
    }
  }

  &__secondary {
    gap: 10px;
    align-items: center;

    .input {
      width: 16px;
      height: 16px;
      border: 0.1em solid $button-default;

      &:checked {
        position: relative;
        background-color: $accent-white;

        &::before {
          content: '\2714';

          position: absolute;
          top: -2px;
          right: 1.5px;

          font-size: 0.8em;
          color: $button-default;
        }
      }
    }

    .label {
      padding-left: 2px;

      font-family: $font-family;
      font-size: 16px;
      line-height: 1.25;
      color: $grey-300;
      letter-spacing: 0.05em;
    }
  }
}
