@import '@/styles';

.user {
  .user__inner {
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding-top: 67px;
    padding-bottom: 32px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 32px;

    .wrapper {
      display: grid;
      grid-template-columns: 276px 1fr;
      gap: 161px;
      padding-top: 8px;
    }
  }
}
