@import '@/styles';

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .filters {
    display: flex;
    gap: 20px;
  }

  .clear {
    padding: 0;

    font-family: $font-family;
    font-size: 16px;
    font-weight: 500;
    color: #f85a5a;
    letter-spacing: 0.05em;
  }
}
