@use '@/styles/colors.scss';

@import '@/styles';

.dropdown {
  position: relative;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-container {
  position: absolute;
  z-index: 1000;
  overflow: hidden;

  // box-shadow: 2px 3px 37px 0 #00000040;

  transition: opacity 0.35s ease-out;

  &__menu {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__category {
    top: 79px;
    left: 0%;
  }

  &__filter {
    top: 55px;
    left: 0%;
  }
}

.open {
  visibility: visible;
  opacity: 1;
}

.closed {
  visibility: hidden;
  opacity: 0;
}
