@use '@/styles/colors.scss';

@import '@/styles';

.dropdown {
  position: relative;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-container {
  position: absolute;
  z-index: 1000;

  overflow: hidden;

  box-shadow: 2px 3px 37px 0 #00000040;

  transition: opacity 0.35s ease-out;

  &__menu {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__category {
    top: 79px;
    left: 0%;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 266px;
    padding: 15px;

    background: $accent-white;
    border-radius: 8px;

    li {
      width: 100%;
      width: 236px;
      padding: 8px;

      font-family: $font-family;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.188;
      color: $grey-300;
      text-transform: uppercase;
      letter-spacing: 0.01em;

      border-radius: 8px;

      &:hover {
        cursor: pointer;
        background: $background-color;
      }

      a {
        display: inline-block;
        width: 100%;
      }
    }
  }
}

.open {
  visibility: visible;
  opacity: 1;
}

.closed {
  visibility: hidden;
  opacity: 0;
}
