@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';

.collage {
  display: flex;
  align-items: center;
  margin: 0 auto;

  .img-box {
    position: relative;
    overflow: hidden;
    width: 50%;
    min-height: 598px;

    img {
      position: absolute;
      top: -75%;
      left: 3%;
      transform: rotate(13deg);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 50%;
    max-width: 34.25rem;
    padding: 9.75rem 5rem 10.5625rem 0.75rem;

    h2 {
      max-width: 29rem;

      font-family: fonts.$third-family;
      font-size: 2rem;
      font-weight: 700;
      line-height: 0.9;
      color: colors.$grey-500;
      letter-spacing: 0.01em;
    }

    p {
      max-width: 33rem;

      font-family: fonts.$font-family;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.21;
      color: colors.$grey-400;
      letter-spacing: 0.04em;
    }

    button {
      align-self: start;

      padding: 1rem 4.53rem;

      font-family: fonts.$font-family;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.19;
      color: colors.$accent-white;
      letter-spacing: 0.055em;

      background: colors.$button-default;
      border-radius: 0.25rem;

      transition: all 0.3s;

      &:hover {
        background-color: colors.$button-hover;
      }
    }
  }
}
