@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';
@use '@/styles/mixin.scss';

.collage {
  display: flex;
  align-items: center;
  margin: 0 auto;

  .img-box {
    position: relative;

    overflow: hidden;

    width: 50%;
    height: 37.375rem;
    max-height: 670px;

    img {
      position: absolute;
      bottom: -2rem;
      left: -1.21rem;
      transform: rotate(13deg);

      height: 120%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 50%;
    max-width: 30.375rem;
    padding: 9.75rem 5rem 9.5625rem 0.75rem;

    h2 {
      @include mixin.font-styles(fonts.$third-family, 2rem, 700, 0.9, colors.$grey-500, 0.01em);
    }

    p {
      @include mixin.font-styles(fonts.$font-family, 1.5rem, 500, 1.21, colors.$grey-400, 0.04em);
    }

    button {
      @include mixin.font-styles(fonts.$font-family, 1rem, 500, 1.19, colors.$accent-white, 0.055em);

      align-self: start;

      padding: 1rem 4.53rem;

      background: colors.$button-default;
      border-radius: 0.25rem;

      transition: all 0.3s;

      &:hover {
        background-color: colors.$button-hover;
      }
    }
  }
}
