@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';
@use '@/styles/mixin.scss';

.collage {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: colors.$accent-white;

  .img-box {
    position: relative;

    overflow: hidden;

    width: 50%;
    height: 37.375rem;
    max-height: 670px;

    img {
      position: absolute;
      bottom: -2rem;
      left: -1.21rem;
      transform: rotate(13deg);

      height: 120%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 50%;
    max-width: 28rem;
    padding: 155px 5rem 154px 0.75rem;

    h2 {
      @include mixin.font-styles(fonts.$third-family, 2rem, 700, 0.85, colors.$grey-500, 0.055em);
    }

    p {
      @include mixin.font-styles(fonts.$font-family, 1.5rem, 500, 1.21, colors.$grey-400, 0.04em);
    }
  }
}
