@use '@/styles/fonts.scss';
@use '@/styles/colors.scss';

@import url('@/styles');

.card {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  width: 100%;
  min-width: 200px;
  max-width: 262px;

  .img-box {
    position: relative;
    overflow: hidden;
    font-size: 0;
    transition: all 0.3s;

    img {
      width: 100%;
      transition: all 0.3s;
    }

    button {
      position: absolute;
      z-index: 2;
      top: 12px;
      right: 12px;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0.625rem;

      background: colors.$accent-white;
      border-radius: 50%;

      transition: all 0.3s;

      &:hover svg {
        stroke: $accent-white;
        transition: all 0.3s;
      }

      &:hover {
        background: colors.$button-hover;

        img {
          color: #fff;
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(265deg) brightness(102%) contrast(102%);
        }
      }

      &:active {
        background: colors.$button-active;
      }
    }

    &:hover {
      box-shadow: 4px 6px 10px 0 rgb(65 65 65 / 29%);

      & > img {
        transform: scale(1.2) translateY(-5%);
      }
    }
  }

  .transparent {
    position: relative;
    min-height: 108px;

    .content {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .text {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .headers {
          display: flex;
          justify-content: space-between;

          h3 {
            overflow: hidden;

            width: 65%;

            font-family: fonts.$font-family;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.2;
            color: colors.$grey-500;
            text-overflow: ellipsis;
            letter-spacing: 0.05em;
            white-space: nowrap;
          }

          p {
            width: 30%;

            font-family: fonts.$second-family;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.1;
            color: colors.$button-default;
            text-align: right;

            &::after {
              content: 'грн';
              margin-left: 1px;
            }
          }
        }

        p {
          overflow: hidden;

          font-family: fonts.$font-family;
          font-size: 14px;
          line-height: 1.4915;
          color: colors.$grey-300;
          text-overflow: ellipsis;
          letter-spacing: 0.03em;
          white-space: nowrap;
        }
      }
    }
  }
}
