@use '@/styles/fonts.scss';
@use '@/styles/colors.scss';

.card {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  .img-box {
    position: relative;
    overflow: hidden;
    font-size: 0;
    transition: all 0.3s;

    img {
      width: 100%;
      transition: all 0.3s;
    }

    button {
      position: absolute;
      z-index: 99;
      top: 12px;
      right: 12px;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0.625rem;

      background: colors.$accent-white;
      border-radius: 50%;

      transition: all 0.3s;

      img {
        transition: all 0.3s;
      }

      &:hover {
        background: colors.$button-hover;

        img {
          color: #fff;
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(265deg)
            brightness(102%) contrast(102%);
        }
      }

      &:active {
        background: colors.$button-active;
      }
    }

    &:hover {
      box-shadow: 4px 6px 10px 0 rgb(65 65 65 / 29%);

      & > img {
        transform: scale(1.2) translateY(-5%);
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .headers {
      display: flex;
      justify-content: space-between;

      h3 {
        font-family: fonts.$font-family;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2;
        color: colors.$grey-500;
        letter-spacing: 0.05em;
      }

      p {
        font-family: fonts.$second-family;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.1;
        color: colors.$button-default;

        &::before {
          content: '\0024';
        }
      }
    }

    p {
      font-family: fonts.$font-family;
      font-size: 0.88rem;
      line-height: 1.18;
      color: colors.$grey-300;
      letter-spacing: 0.03em;
    }
  }

  .buy {
    align-self: self-start;

    padding: 0.75rem 2rem;

    font-family: fonts.$font-family;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    color: colors.$accent-white;
    text-transform: capitalize;
    letter-spacing: 0.06em;

    background: colors.$button-default;
    border-radius: 0.25rem;

    transition: all 0.3s;

    &:hover {
      background: colors.$button-hover;
    }
  }
}
