@import '@/styles';

.card {
  overflow-y: visible;
  display: flex;
  gap: 24px;
  align-items: flex-end;

  width: 100%;
  height: 144px;
  padding: 6px;

  background: #efefef;
  border-radius: 8px;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: start;

    width: 100%;
    height: 144px;
    padding-top: 25px;

    h3 {
      overflow: hidden;
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;

      font-family: $third-family;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      color: $grey-500;
      text-overflow: ellipsis;
      letter-spacing: 0.007em;

      transition: 0.3s ease-in-out;

      -webkit-line-clamp: 2;
      line-clamp: 2;
    }

    p {
      display: flex;
      gap: 3px;

      font-size: 14px;
      line-height: 17px;
      color: $grey-300;
      letter-spacing: 0.04em;
    }
  }

  img {
    width: 100%;
    max-width: 221px;
  }
}
