@import '@/styles';

.radio-group__button {
  cursor: pointer;

  position: relative;

  font-family: $font-family;
  color: $grey-500;
  text-align: center;
  letter-spacing: 0.01em;

  &:nth-of-type(n + 2)::before {
    cursor: default;
    content: '';

    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);

    width: 2px;
    height: 24px;

    background-color: #ccc;
  }

  &--checked {
    cursor: default;
    color: #707070;

    .radio-button__label {
      cursor: default;
    }
  }

  &--disabled {
    color: #707070;
  }
}

.radio-button__input {
  display: none;

  &:disabled + .radio-button__label {
    cursor: default;
  }
}

.radio-button__label {
  cursor: pointer;
  font-size: 18px;
  line-height: 1.6;
  text-transform: capitalize;
}
