@import '@/styles';

.results {
  position: absolute;
  z-index: 10;
  top: 44px;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  padding: 0;

  background-color: $accent-white;
  border: 0.5px solid $grey-300;
  border-radius: 3px;

  .content {
    p {
      padding: 13px 32px 12px;

      font-size: 14px;
      line-height: 1.5;
      color: #797777;
      letter-spacing: 0.01em;

      border-bottom: 1px solid $background-color;
    }

    .offers {
      display: flex;
      flex-direction: column;
      gap: 11px;

      padding: 11px 32px 13px;

      border-bottom: 1px solid #797777;

      h3 {
        font-size: 16px;
        color: $icon-active;
        letter-spacing: 0.01em;
      }

      .offers_lists {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        max-width: 350px;

        li {
          padding: 8px 16px;

          font-family: $font-family;
          font-size: 14px;
          line-height: 1.5;
          color: $icon-active;
          text-align: center;
          letter-spacing: 0.01em;

          background: $background-color;
          border-radius: 5px;
        }
      }
    }

    .books {
      display: flex;
      flex-direction: column;
      gap: 16px;

      padding: 12px 0;

      border-bottom: 1px solid $background-color;

      h3 {
        padding: 0 32px;

        font-size: 16px;
        line-height: 1.19;
        color: $icon-active;
        letter-spacing: 0.01em;
      }

      .books_list {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        gap: 0;

        height: 100%;

        .list {
          display: flex;
          gap: 16px;
          padding: 8px 32px;
          transition: all 0.3s;

          &:hover {
            background-color: $background-color;
          }

          .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
              align-self: self-end;

              padding: 0;

              font-size: 16px;
              line-height: 1.2;
              color: $icon-active;
              letter-spacing: 0.01em;
            }

            span.price {
              padding: 0;

              font-size: 16px;
              font-weight: 600;
              color: $button-default;
              letter-spacing: 0.01em;

              &::after {
                content: 'грн.';
                margin-left: 3px;
              }
            }
          }
        }
      }
    }
  }

  & > a {
    align-self: center;

    & > button svg {
      stroke: $accent-white;
    }
  }

  p.no-result {
    font-size: 16px;
    font-weight: 400;
    color: $grey-500;
    text-align: center;
    letter-spacing: 0.01em;

    border: none;
  }

  & button {
    margin-bottom: 32px;
  }
}
