@use '@/styles' as *;

.filters {
  position: sticky;
  z-index: 12;
  top: 78px;

  display: flex;

  height: fit-content;
  padding: 20px;
  border-radius: 8px;

  background-color: $accent-white;
}
