@import '@/styles';

.section {
  width: 100%;

  .section-inner {
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding: 32px;

    background: $accent-white;
    border-radius: 8px;
  }
}
