@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';
@use '@/styles/mixin.scss';

.hit {
  width: 100%;
  padding: 5rem 0;
  background-color: colors.$brown-100;

  .headers {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 2.5rem;

    h2 {
      @include mixin.font-styles(fonts.$third-family, 2rem, 700, 0.9, colors.$grey-500, 0.01em);
    }

    a {
      @include mixin.font-styles(fonts.$font-family, 1rem, 500, 1.1);

      padding: 0.75rem 2rem;

      text-transform: capitalize;

      border: 1px solid colors.$button-default;
      border-radius: 0.25rem;

      transition: all 0.3s;

      &:hover {
        background-color: colors.$button-hover-seccondary;
        border-color: transparent;
      }

      &:active {
        background-color: colors.$button-active-secondary;
        border-color: transparent;
      }
    }
  }

  .books {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50.5px;

    width: 100%;
  }
}
