@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';
@use '@/styles/mixin.scss';

.hit {
  width: 100%;
  padding: 5rem 0;
  background-color: colors.$brown-100;

  .headers {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 2.5rem;

    h2 {
      @include mixin.font-styles(fonts.$third-family, 2rem, 700, 0.9, colors.$grey-500, 0.01em);
    }

    a button {
      letter-spacing: 0.02em;
    }
  }

  .books {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 50.5px;

    width: 100%;
  }
}
