@import '@/styles';

.breadcrumbs {
  display: flex;
  gap: 12px;
  align-items: center;

  li {
    display: flex;
    gap: 12px;
    align-items: center;

    font-family: $font-family;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.19;
    color: $icon-default;
    letter-spacing: 0.04em;

    a {
      width: max-content;
    }

    .separation {
      align-self: flex-start;
      width: 14px;
      height: 7px;
    }
  }
}
