@import '@/styles';

.btns {
  display: flex;
  gap: 11px;
  align-items: center;

  padding-top: 6px;
  padding-right: 1px;

  li {
    &:nth-child(1) {
      max-width: 123px;
    }

    &:nth-child(2) {
      max-width: 115px;
    }

    img {
      width: 100%;
    }

    @media (width >= 992px) {
      &:nth-child(1),
      &:nth-child(2) {
        max-width: 160px;
      }
    }
  }

  @media (width >= 992px) {
    padding-top: 3px;
  }
}
