@use '@/styles/colors.scss';

@import '@/styles';

.footer {
  background-color: #fff;

  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;

    color: colors.$raisin-black;

    nav {
      display: flex;
      justify-content: space-between;
      padding: 1.5em 5em;
    }

    & > div {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;

      width: 100%;
      padding: 10px 0;

      letter-spacing: 0.05em;

      span:first-of-type {
        font-size: 1.5em;
      }
    }

    .btns {
      display: flex;
      gap: 11px;
      align-items: center;
    }

    .links {
      display: flex;
      gap: 57px;
      align-items: center;

      a {
        letter-spacing: 0.05em;

        &:hover {
          color: colors.$brown-300;
        }

        &:active {
          color: colors.$brown-400;
        }
      }
    }
  }
}
