@import '@/styles';

.footer {
  background-color: $accent-white;

  &-inner {

    @include media-min(xl) {
      gap: 18px;
      padding: 20px 40px;
    }

    display: flex;
    flex-direction: column;
    gap: 38px;
    padding: 32px 0;
  }
}
