@import '@/styles';

.links {

  @include media-min(xl) {
    gap: 57px;
  }

  display: flex;
  gap: 25px;
  align-items: center;
  padding-bottom: 16px;

  a,
  button {

    @include media-min(lg) {
      font-size: 16px;
    }

    font-size: 14px;
    letter-spacing: 0.035em;

    &:hover {
      color: $brown-300;
    }

    &:active {
      color: $brown-400;
    }
  }
}
