@use '@/styles' as *;

.links {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-bottom: 16px;

  a,
  button {
    font-size: 11px;
    letter-spacing: 0.035em;

    &:hover {
      color: $brown-300;
    }

    &:active {
      color: $brown-400;
    }

    @media (width >= 480px) {
      font-size: 14px;
    }

    @media (width >= 992px) {
      font-size: 16px;
    }
  }

  @media (width >= 480px) {
    justify-content: space-around;
  }

  @media (width >= 768px) {
    justify-content: start;
  }

  @media (width >= 1200px) {
    gap: 57px;
  }
}
