.product-slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;

  &__section {
    max-width: 313px;

    @media (width >= 768px) {
    }

    @media (width >= 834px) {
      max-width: clamp(44.125rem, 5.09rem + 74.888vw, 65rem);
    }
  }

  &__hit {
    max-width: 1160px;
  }

  &__product {
    max-width: 1200px;
  }

  &__banner {
    width: 100%;

    div.slider {
      overflow: visible;
      width: 100%;
      margin: 0 auto;
      padding: 13px 0 26px;

      @media (width >= 768px) {
        padding: 21px 0 60px;
      }

      @media (width >= 992px) {
        padding: 49px 0 94px;
      }
    }

    @media (width >= 992px) {
      max-width: clamp(49.375rem, 2.875rem + 75vw, 62.875rem); //790 1006
    }
  }

  .slider {
    overflow: clip visible;
    width: 100%;

    .slider-section {
      max-width: 1018px;
      margin: 0 auto;

      .slick-list {
        overflow: visible;
        width: 100%;
        height: auto;

        .slick-track {
          display: flex;
          gap: 15px;

          @media (width >= 834px) {
            gap: clamp(2rem, -1.841rem + 7.368vw, 2.875rem);
          }

          @media (width >= 1024px) {
            gap: clamp(1rem, -6.5rem + 11.719vw, 2.875rem);
          }
        }
      }
    }

    .slider-product {
      max-width: 1200px;
      margin: 0 auto;

      .slick-list {
        overflow: visible;
        width: 100%;
        height: auto;

        .slick-track {
          display: flex;
          gap: 60px;
        }
      }
    }

    .slider-hit {
      max-width: 1160px;
      margin: 0 auto;

      .slick-list {
        overflow: visible;
        width: 100%;
        height: auto;

        .slick-track {
          display: flex;
          gap: 25px;
        }
      }

      .slick-dots {
        position: absolute;
        bottom: -29px;
        left: 50%;
        transform: translateX(-50%);

        display: flex !important;
        gap: 11px;
        justify-content: center;

        li {
          width: 13px;
          height: 13px;

          font-size: 0;

          opacity: 1;
          background: #d9d9d9;
          border-radius: 100%;

          button {
            width: 100%;
            height: 100%;
          }

          button::before {
            content: '';
          }

          &.slick-active {
            width: 13px;
            height: 13px;
            background: #878787;
            border-radius: 100%;
          }
        }
      }
    }

    .banner {
      position: relative;

      .slick-list {
        overflow: visible;
        width: 100%;
        margin-inline: 10px;

        .slick-track {
          display: flex;
          gap: 25px;
          width: 100%;

          .slick-slide {
            width: 100%;

            @media (width >= 768px) {
              max-width: clamp(40.5rem, 1.582rem + 74.664vw, 61.313rem);
            }
          }
        }

        @media (width >= 768px) {
          margin-inline: clamp(3.75rem, -18.068rem + 45.455vw, 5.625rem);
        }

        @media (width >= 834px) {
          margin-inline: clamp(5.625rem, -1.387rem + 13.453vw, 9.375rem); //90 - 150
        }

        @media (width >= 992px) {
          margin-inline: 12.5px;
        }
      }
    }
  }

  .slick-dots {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

    display: none !important;
    gap: 15px;
    justify-content: center;

    li {
      width: 13px;
      height: 13px;

      font-size: 0;

      opacity: 1;
      background: #d9d9d9;
      border-radius: 100%;

      button {
        width: 100%;
        height: 100%;
      }

      button::before {
        content: '';
      }

      &.slick-active {
        width: 13px;
        height: 13px;
        background: #878787;
        border-radius: 100%;
      }
    }

    @media (width >= 768px) {
      display: flex !important;
    }
  }
}
