@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  box-sizing: border-box;
  width: 622px;
  padding: 2em;

  background-color: colors.$accent-white;
  box-shadow: 2px 3px 37px 0 rgb(0 0 0 / 25%);

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-family: fonts.$third-family;
      font-size: 2rem;
      font-weight: 700;
      line-height: 0.91;
      color: colors.$grey-500;
      letter-spacing: 0.03em;
    }

    .close {
      width: 24px;
      height: 24px;
      background: url('../../assets/icons/Close.svg');
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    .input-container {
      display: flex;
      flex-direction: column;
      gap: 0.75em;

      .email-container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }

      .error {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 0.75em;
          color: colors.$accent-red;
          letter-spacing: 0.03em;
        }

        a {
          font-size: 0.75em;
          color: #111;
          letter-spacing: 0.01em;
        }
      }

      .password-hint {
        font-size: 0.75em;
        font-weight: 700;
        line-height: 1.167;
        color: colors.$grey-500;
      }
    }

    .reset-password {
      align-self: self-start;

      font-family: fonts.$font-family;
      font-size: 1rem;
      line-height: 1.21;
      color: colors.$grey-500;
      letter-spacing: 0.06em;
    }

    .submit {
      padding: 1em 2em;

      font-size: 1em;
      font-weight: 500;
      line-height: 1.188;
      color: colors.$accent-white;
      letter-spacing: 0.01em;

      background: colors.$button-default;
      border-radius: 4px;

      &:hover {
        background: colors.$button-hover;
      }

      &:active {
        background: colors.$button-active;
      }

      &:disabled {
        background: rgb(30 30 30 / 70%);
      }
    }
  }

  .register {
    font-size: 1em;
    line-height: 1.188;
    color: colors.$grey-500;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .terms {
    font-family: fonts.$second-family;
    font-size: 0.72rem;
    font-weight: 400;
    line-height: 1.2;
    color: colors.$grey-500;
    letter-spacing: 0.01em;
    letter-spacing: 0;

    a {
      margin: 0 2px;
      border-bottom: 1px solid #000;
    }
  }
}

.textarea-container {
  width: 100%;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 124px;
  padding: 0.688rem 1rem;

  font-size: 1rem;
  line-height: 1.188rem;
  color: colors.$grey-300;
  letter-spacing: 0.01em;

  background-color: transparent;
  border: 1px solid colors.$grey-100;
  border-radius: 0.25rem;

  &:hover {
    border-color: colors.$grey-200;
  }

  &:active {
    border-color: colors.$brown-300;
  }

  &:valid {
    color: colors.$accent-success;
    border-color: colors.$accent-success;
  }

  &.textarea-error {
    color: colors.$accent-red;
    border-color: colors.$accent-red;

    &::placeholder {
      color: colors.$accent-red;
    }

    & + p {
      font-size: 0.75em;
      color: colors.$accent-red;
      letter-spacing: 0.01em;
    }
  }
}

.paragraph {
  font-size: 1rem;
  line-height: 1.188rem;
  color: #000;
}
