@use '@/styles/colors.scss';
@use '@/styles/fonts.scss';
@use '@/styles/mixin.scss';

@import '@/styles';

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  box-sizing: border-box;
  width: 100%;
  min-width: 38.875rem;
  padding: 2em;

  background-color: colors.$accent-white;
  border-radius: 8px;
  box-shadow: 2px 3px 37px 0 rgb(0 0 0 / 25%);

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      @include mixin.font-styles(fonts.$font-family, 1.5rem, 700, 1.21, colors.$grey-500, 0.07em);
    }

    .close {
      @include flex-center;

      &:hover {
        @include icon-state($icon-hover);
      }

      &:active {
        @include icon-state($icon-hover);
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    .input-container {
      display: flex;
      flex-direction: column;
      gap: 0.75em;

      .email-container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }

      .error {
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;

        p {
          font-size: 0.75rem;
          line-height: 1.25;
          color: colors.$accent-red;
          letter-spacing: 0.03em;
        }

        button {
          @include mixin.hover-active_color(colors.$brown-300, colors.$brown-400);

          padding: 0;

          font-size: 0.75em;
          font-weight: 600;
          line-height: 1.25;
          color: colors.$grey-500;
          letter-spacing: 0.02em;
        }

        .remember {
          @include mixin.hover-active_color(colors.$brown-300, colors.$brown-400);

          font-weight: 600;
          color: colors.$grey-500;
        }
      }

      .password-hint {
        @include mixin.font-styles(fonts.$font-family, 0.75rem, 400, 1.167);
      }
    }

    .reset-password {
      @include mixin.font-styles(fonts.$font-family, 1rem, 500, 1.21, colors.$grey-500, 0.06em);

      @include mixin.hover-active_color(colors.$brown-300, colors.$brown-400);

      align-self: self-start;
      transition: all 0.3s;
    }
  }

  .register {
    @include mixin.font-styles(fonts.$font-family, 1rem, 500, 1.06);

    @include mixin.hover-active_color(colors.$brown-300, colors.$brown-400);

    align-self: center;
    text-align: center;
    transition: all 0.3s;
  }

  .terms {
    @include mixin.font-styles(fonts.$font-family, 0.75rem, 400, 1.2, colors.$grey-500, 0);

    max-width: 32.875rem;

    a {
      margin: 0 2px;
      border-bottom: 1px solid #000;
    }
  }

  .success {
    @include mixin.font-styles(fonts.$font-family, 1rem, 500, 1.21);

    max-width: 34.875rem;
  }

  .success {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    p {
      @include mixin.font-styles(fonts.$font-family, 1rem, 400, 1.188, colors.$grey-500, 0.04em);
    }
  }
}

.textarea-container {
  width: 100%;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 124px;
  padding: 0.688rem 1rem;

  font-size: 1rem;
  line-height: 1.188rem;
  color: colors.$grey-300;
  letter-spacing: 0.01em;

  background-color: transparent;
  border: 1px solid colors.$grey-100;
  border-radius: 0.25rem;

  &:active {
    border-color: colors.$brown-300;
  }

  &:valid {
    color: colors.$accent-success;
    border-color: colors.$accent-success;
  }

  &:hover {
    border-color: colors.$grey-200;
  }

  &.textarea-error {
    color: colors.$accent-red;
    border-color: colors.$accent-red;

    &::placeholder {
      color: colors.$accent-red;
    }

    & + p {
      font-size: 0.75em;
      color: colors.$accent-red;
      letter-spacing: 0.01em;
    }
  }
}

.paragraph {
  max-width: 34.875rem;

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.188rem;
  color: colors.$grey-500;
  letter-spacing: 0.03em;
}
